@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "./custom";

$primary-color: #1b89ee;

body {
  font-family: "Ubuntu";
}

.title {
  font-size: 50px;
  font-weight: 700;
}

.sub-title {
  font-size: 20px;
  font-weight: 500;
}
